*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    background-color: rgb(152, 233, 233);
    color: rgb(51, 23, 23);
    font-family: Oswald,sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0;
    
}
header{
    background-image: url('resources/css/img/Header-Image.jpeg') ;
}