*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    background-color: rgb(152, 233, 233);
    color: rgb(51, 23, 23);
    font-family: Oswald,sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
h1 {
    margin: 0;
    padding: 0;
}


.row {
    max-width: 1140px;
    margin: 0;
    
}
header{
  background-image: url('img/image.png');
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
